body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a.navbar-brand {
  width: 250px;
}

a.navbar-brand img {
  width: 100%;
  height: auto;
}

.user-name {
  position: relative;
}

span.profile-pic {
  position: absolute;
  left: 40px;
  top: 8px;
}

span.profile-pic img {
  position: absolute;
  top: -14px;
  left: 135px;
  width: 50px;
  border-radius: 50%;
}

.user-event-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-event-nav li {
  margin: 10px 0;
}

.user-event-nav a svg {
  margin-right: 12px;
}

.home-volunteer-list img {
  width: 100%;
  height: auto;
}

.form-group.col-md-6 img {
  width: 72%;
  margin-top: 15px;
  border-radius: 5px;
}

.register-user-list {
  width: 100%;
  text-align: center; 
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
}

.register-user-list tr,
.register-user-list td,
.register-user-list th {
  padding: 10px;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
}

